@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    backdrop-filter: blur(0);
    /* Desenfoque inicial a 0 */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    backdrop-filter: blur(20px);
    /* Desenfoque completo */
  }
}
header {
  opacity: 0;
  /* Establece la opacidad inicial del encabezado a 0 */
  transform: translateX(-100%);
  /* Mueve el encabezado fuera de la pantalla hacia la izquierda */
  animation: slideIn 2s forwards;
  /* Aplica una animación de deslizamiento con una duración de 2 segundos */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(to right, #1F363D, transparent);
  /* Fondo con gradiente lineal de izquierda a derecha */
  backdrop-filter: blur(0);
  /* Establece el desenfoque inicial a 0 */
}
header .logo {
  position: relative;
  color: #FBF9FF;
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 0 0 10px #1F363D;
}
header ul {
  position: relative;
  display: flex;
  gap: 40px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #FBF9FF;
  font-weight: 500;
  font-size: 1.25em;
  text-shadow: 0 0 20px #1F363D;
}
header ul li a:hover {
  color: #70A9A1;
}
header ul .active a {
  color: #70A9A1;
}

main #inicio {
  background: #1F363D;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
main #inicio .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  z-index: 10;
}
main #inicio .content h2 {
  position: relative;
  font-size: 5em;
  color: #FBF9FF;
}
main #inicio .content p {
  position: relative;
  color: #FBF9FF;
  font-size: 1.2em;
  line-height: 1.6em;
}
main #inicio img {
  position: absolute;
  bottom: 0;
  right: 100px;
  max-height: 80vh;
}
main #inicio::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 25vw;
  background-color: #70A9A1;
  border-top-right-radius: 25vw;
  border-top-left-radius: 25vw;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  background: #70A9A1;
  color: #1F363D;
  text-align: center;
  padding: 18px 30px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  margin-top: 10px;
  width: 50%;
}

#servicios, #contacto, #portfolio {
  position: relative;
  background-color: #40798C;
  min-height: 100vh;
  padding: 120px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.secText {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.secText h2 {
  font-size: 3em;
  color: #A8DADC;
}
.secText p {
  max-width: 700px;
  text-align: center;
  color: #FBF9FF;
  font-size: 1.1em;
  line-height: 1.5em;
}

#servicios .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
#servicios .content .servicesBx {
  background-color: #1F363D;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #70A9A1;
  border-radius: 75px;
  text-align: center;
}
#servicios .content .servicesBx:hover {
  border: 2px solid #FBF9FF;
}
#servicios .content .servicesBx:hover img {
  filter: invert(1) drop-shadow(0 2px 5px white);
  opacity: 1;
}
#servicios .content .servicesBx:hover h3 {
  text-shadow: 0 2px 5px white;
}
#servicios .content .servicesBx img {
  max-width: 100px;
  filter: invert(1);
  opacity: 0.5;
  transition: 0.5s;
}
#servicios .content .servicesBx h3 {
  color: #FBF9FF;
  font-weight: 500;
}
#servicios .center {
  width: 100%;
  text-align: center;
  grid-column: 2/4;
  grid-row: 2;
}
#servicios .center .btn {
  color: #FBF9FF;
}

#portfolio {
  background-color: #1F363D;
  text-align: center;
}
#portfolio .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
#portfolio .content .imgBx {
  position: relative;
}
#portfolio .content .imgBx img {
  max-width: 100%;
}

#contacto .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
#contacto .content a {
  background-color: #70A9A1;
  height: 120px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #FBF9FF;
  transition: 0.5s;
  align-items: center;
  padding: 0 10px;
}
#contacto .content a ion-icon {
  color: #1F363D;
  font-size: 1.7rem;
  margin-right: 5px;
  transition: 0.5s;
}
#contacto .content a:hover {
  background-color: #1F363D;
}
#contacto .content a:hover ion-icon {
  color: #70A9A1;
}
#contacto .content form {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
#contacto .content form .field {
  display: flex;
  flex-direction: column;
}
#contacto .content form .field .label {
  font-weight: bold;
}
#contacto .content form .field .input {
  padding: 10px;
  font-size: 16px;
}
#contacto .content form #button-send {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #contacto .content form {
    grid-template-columns: 1fr;
  }
}
#contacto .center .copyrights {
  text-align: center;
  margin-top: 150px;
  position: relative;
  color: #FBF9FF;
  font-size: 1.1em;
}
#contacto .center .copyrights a {
  color: #1F363D;
}

.orbita {
  animation: orbita 6s infinite linear;
}

@keyframes orbita {
  0% {
    transform: translate(50px, 0) rotate(5deg);
  }
  25% {
    transform: translate(0, 50px) rotate(-5deg);
  }
  50% {
    transform: translate(-50px, 0) rotate(5deg);
  }
  75% {
    transform: translate(0, -50px) rotate(-5deg);
  }
  100% {
    transform: translate(50px, 0) rotate(5deg);
  }
}
@media (max-width: 900px) {
  header {
    padding: 21px 0px;
  }

  #inicio {
    padding: 150px 50px;
    flex-direction: column;
    padding-bottom: 0;
  }
  #inicio .content h2 {
    font-size: 4em;
  }
  #inicio img {
    position: absolute;
    height: 50vh;
    right: 0;
  }

  .btn {
    max-width: 220px;
  }

  #servicios .content h2 {
    font-size: 2em;
    text-align: center;
  }

  #servicios, #portfolio, #contacto {
    padding: 50px;
  }
  #servicios .content, #portfolio .content, #contacto .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  header ul {
    display: none;
  }
  header .menuToggle {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  header .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
  }
  header .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
  }

  header.active .menuToggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: translateY(0px) rotate(315deg);
  }

  header.active ul {
    position: fixed;
    left: 0;
    top: 84px;
    width: 100%;
    height: calc(100vh - 84px);
    background: rgba(50, 50, 50, 0.95);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    gap: 20px;
  }
  header.active ul li a {
    font-size: 2em;
  }

  #inicio {
    padding: 60px;
  }
  #inicio .content .h2 {
    font-size: 3em;
  }
  #inicio .content img {
    height: 40vh;
  }
  #inicio ::before {
    width: 80vh;
    height: 40vh;
    border-top-right-radius: 80vh;
    border-bottom-left-radius: 80vh;
  }

  #servicios .content, #portfolio .content, #contacto .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .secText p {
    text-align: start;
  }

  #contacto .content a {
    height: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
