@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


$primary-color : #e56b6f;
$secondary-color: #355070;
$acent-color: #eaac8b;
$other-color-1: #6d597a;
$other-color-2: #b56576;

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
        .logo{
            position: relative;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 2em;
        }
        ul {
            position: relative;
            display: flex;
            gap: 40px;

                li {
                    list-style: none;
                    
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-weight: 500;
                            font-size: 1.25em;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                        
                }
                .active {
                    a {
                        color: $primary-color;
                    }
                }
        }
    }
main {
    #inicio {
        background: $secondary-color;
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
            .content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 650px;
            z-index: 10;
                h2 {
                    position: relative;
                    font-size: 5em;
                    color: $primary-color;
                }
                p {
                    position: relative;
                    color: #fff;
                    font-size: 1.2em;
                    line-height: 1.6em;
                }
                
        }
        img {
            position: absolute;
            bottom: 0;
            right: 100px;
            max-height: 80vh;
        }

            &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50vw;
            height: 25vw;
            background-color: $primary-color;
            border-top-right-radius: 25vw;
            border-top-left-radius: 25vw;
        }
    }
}
.btn {
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
    width: 50%;
}

#servicios, #contacto {
    position: relative;
    background-color: $other-color-1;
    min-height: 100vh;
    padding: 120px 100px;
}

#portfolio {
    background-color: $secondary-color;
    position: relative;
    min-height: 100vh;
    padding: 120px 100px;
}