@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

$primary-color :  #1F363D;
$secondary-color: #70A9A1;
$acent-color: #FBF9FF;
$other-color-1: #40798C;
$other-color-3: #A8DADC;
$other-color-2: #457B9D;

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
        .logo{
            position: relative;
            color: $acent-color;
            text-decoration: none;
            font-weight: 700;
            font-size: 2em;
            text-shadow: 0 0 10px $primary-color;
        }
        ul {
            position: relative;
            display: flex;
            gap: 40px;

                li {
                    list-style: none;
                    
                        a{
                            text-decoration: none;
                            color: $acent-color;
                            font-weight: 500;
                            font-size: 1.25em;
                            &:hover {
                                color: $secondary-color;
                            }
                            text-shadow: 0 0 20px $primary-color;
                        }
                        
                }
                .active {
                    a {
                        color: $secondary-color;
                    }
                }
        }
    }
main {
    #inicio {
        background: $primary-color;
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
            .content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 650px;
            z-index: 10;
                h2 {
                    position: relative;
                    font-size: 5em;
                    color: $acent-color;
                }
                p {
                    position: relative;
                    color: $acent-color;
                    font-size: 1.2em;
                    line-height: 1.6em;
                }
                
        }
        img {
            position: absolute;
            bottom: 0;
            right: 100px;
            max-height: 80vh;
        }

            &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50vw;
            height: 25vw;
            background-color: $secondary-color;
            border-top-right-radius: 25vw;
            border-top-left-radius: 25vw;
        }
    }
}
.btn {
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    background: $secondary-color;
    color: $primary-color;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
    width: 50%;
}

#servicios, #contacto, #portfolio {
    position: relative;
    background-color: $other-color-1;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secText {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
        h2 {
            font-size: 3em;
            color: $other-color-3;
        }

        p {
            max-width: 700px;
            text-align: center;
            color: $acent-color;
            font-size: 1.1em;
            line-height: 1.5em;
        }
}

#servicios {
    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin: 40px 0;
            .servicesBx {
                background-color: $primary-color;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                border: 2px solid $secondary-color;
                border-radius: 75px;
                text-align: center;
                &:hover {
                    border: 2px solid $acent-color;
                    img {
                        filter:  invert(1) drop-shadow(0 2px 5px rgb(255, 255, 255));
                        opacity: 1;
                    }
                    h3 {
                        text-shadow: 0 2px 5px rgb(255, 255, 255);
                    }
                }
                img {
                    max-width: 100px;
                    filter: invert(1);
                    opacity: 0.5;
                    transition: 0.5s;
                }
                h3 {
                    color: $acent-color;
                    font-weight: 500;
                }
            }
    }
    .center {
        width: 100%;
        text-align: center;
        grid-column: 2/4;
        grid-row: 2;
        .btn {
            color: $acent-color;
        }
    }
}

#portfolio {
    background-color: $primary-color;
    text-align: center;
        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin: 40px 0;
                .imgBx {
                    position: relative;
                        img {
                            max-width: 100%;
                        }
                }
        }
}


#contacto {
    .content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin: 40px 0;
            a {
                background-color: $secondary-color;
                height: 120px;
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-size: 15px;
                color: $acent-color;
                transition: 0.5s;
                align-items: center;
                    ion-icon {
                        color: $primary-color;
                        font-size: 1.7rem;
                        margin-right: 5px;
                        transition: 0.5s;
                    }
                    &:hover {
                        background-color: $primary-color;
                        ion-icon {
                            color: $secondary-color;
                        }
                    }
            }

    }
    .center {
        .copyrights {
            text-align: center;
            margin-top: 150px;
            position: relative;
            color: $acent-color;
            font-size: 1.1em;
                a {
                    color: $primary-color;
                }
        }
    }
}

.orbita {
    animation: orbita 6s infinite linear;
}

@keyframes orbita {
    0% {
        transform: translate(50px, 0) rotate(5deg);
      }
      25% {
        transform: translate(0, 50px) rotate(-5deg);
      }
      50% {
        transform: translate(-50px, 0) rotate(5deg);
      }
      75% {
        transform: translate(0, -50px) rotate(-5deg);
      }
      100% {
        transform: translate(50px, 0) rotate(5deg);
      }
}

@media (max-width: 900px) {
    header {
        padding: 20px 50px;
    }
    #inicio {
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
            .content{
                h2 {
                    font-size: 4em !important;
                }
            }
            img {
                position: absolute;
                height: 50vh;
                right: 0;
            }
        }
    .btn {
            max-width: 185px;
        }

    #servicios {
        .content {
            h2 {
                font-size: 2em;
                text-align: center;
            
        }

        }
    }

    #servicios, #portfolio, #contacto {
        .content {
            grid-template-columns: repeat(2, 1fr);
        }
        padding: 50px;
    }

}

@media (max-width: 700px) {
    header {
        ul {
            display: none;
        }
        .menuToggle {
            position: relative;
            width: 30px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #fff;
                transform: translateY(-10px);
                transition: 0.5s;
                box-shadow: 0 10px #fff;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #fff;
                transform: translateY(10px);
                transition: 0.5s;
            }
        }
    }

    header.active .menuToggle::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #fff;    
    }
    header.active .menuToggle::after {
        transform: translateY(0px) rotate(315deg);  
    }

    header.active {
        ul {
            position: fixed;
            left: 0;
            top: 84px;
            width: 100%;
            height: calc(100vh - 84px);
            background: rgba(50, 50, 50, 0.95);
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10000;
            gap: 20px;
                li {
                    a {
                        font-size: 2em;
                    }
                }
        }
    }

    #inicio {
        .content {
            .h2 {
                font-size: 3em;
            }
            img {
                height: 40vh;
            }
        }

        ::before {
            width: 80vh;
            height: 40vh;
            border-top-right-radius: 80vh;
            border-bottom-left-radius: 80vh;
        }
    }

    #servicios, #portfolio, #contacto {
        .content {
            grid-template-columns: repeat(1, 1fr);
        }
    }

        .secText {
            max-width: 260px;
            p {
                text-align: start;
            }
        }

    #contacto{
        .content {
            a {
                height: 80px;
            }
        }
    }
}
